.avatar {
    border-radius: 5px;
    width: 40px;
    height: auto;
    float:left;
    margin-right: 10px;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle !important;
}

.btn-size {
    width: 100px;
}

.fa-times-circle, .fa-user-times {
    color: #dc3545;
    display: table;
    margin: 0 auto;
}

.fa-check-circle, .fa-user {
    color: #28a745;
    display: table;
    margin: 0 auto;
}

#used-th {
    text-align: center;
}

.danger-color, .SUSPENDED {
    color: #dc3545;
}

.primary-color, .ARCHIVED {
    color: #007bff;
}

.success-color, .ACTIVE {
    color: #28a745;
}

.DECLINED {
    color: #ffc107;
}

.PROVISIONED {
    color: #17a2b8;
}

.pagination-center {
    width: max-content;
    margin: auto;
}

.is-breakable {
    word-break: break-word;
}

#card-header-emails {
    display: flex;
    justify-content: space-between;
}

.navbar-btn-size {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5px;
}

#export-excel {
    margin-bottom: 25px;
}

@media only screen and (max-width: 1200px) {
    .unblocked-email {
        color: #28a745;
    }

    .blocked-email {
        color: #dc3545;
    }
}
